.about-area {
  background-color: #f9f9f9;
}

.single-well > a {
  display: block;
}

.single-well ul li {
  color: #444;
  display: block;
  padding: 5px 0;
}

.single-well ul li i {
  color: #3ec1d5;
  padding-right: 10px;
  font-size: 12px;
}

.single-well p {
  color: #444;
}

.well-left {
  display: flex;
  justify-content: flex-end;
}
