<!-- ======= Slider Section ======= -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/slider1.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption">
        <h1>Consejos de expertos</h1>
        <p>Para los apasionados de las herramientas</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/slider2.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption">
        <h1>Consejos de expertos</h1>
        <p>Para los apasionados del rendimiento</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/slider3.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption">
        <h1>Consejos de expertos</h1>
        <p>Para los apasionados de la calidad</p>
      </div>
    </div>
  </div>
</div>
