.navbar .logo h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.navbar .logo h1 span {
  color: #3ec1d5;
}

.navbar .logo h1 a,
.navbar .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}