<!-- ======= Footer ======= -->
<footer>
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <div class="footer-logo">
                <h2><span>Tools</span>Blog</h2>
              </div>

              <p>
                Esperamos que nuestro blog sea de gran ayuda a todos aquellos
                amantes de las herramientas en general, sabemos que una
                herramienta en manos de un apasionado siempre hará diferencia.
              </p>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Contacto</h4>
              <p>
                Si tienes interés de nuevos temas por favor escríbenos para
                recomendaciones.
              </p>
              <div class="footer-contacts">
                <p><span>Email:</span> blog@blogherramientas.com</p>
                <p><span>Horario:</span> 9am-5pm</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Publicidad</h4>
              <div class="flicker-img">
                <iframe
                  src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=288&l=ur1&category=esdiscover&banner=09FVBS8F8R9CNA7V9AG2&f=ifr&linkID=434dd643dd1c64c16a614fb006d41475&t=jvalerio08-21&tracking_id=jvalerio08-21"
                  width="320"
                  height="50"
                  scrolling="no"
                  marginwidth="0"
                  style="border: none"
                  frameborder="0"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="copyright text-center">
            <p>
              &copy; Copyright <strong>TheToolsBlog</strong> Derechos
              reservados
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End  Footer -->
